*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100%;
    background: linear-gradient(180deg, black, rgb(4, 4, 115));
}

.container{
    height: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    letter-spacing: 3px;
}

.relogio span{
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo{
    margin: 10px;
    font-size: 18px;
}

footer{
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}